VITE_LIVEBLOCKS_PUBLIC_KEY=pk_dev_xxxxx
VITE_ANTHROPIC_MODEL=claude-3-5-sonnet-latest
VITE_PORT=9001
VITE_HOST=0.0.0.0
VITE_FRONTEND_HOST=http://192.168.8.163:9001
VITE_BRAINSTORM_API_BASE_URL=http://192.168.8.219:8000


ANTHROPIC_API_KEY=sk-ant-xxxxx
